# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Virtual Environment
# ======================
.venv/
venv/
env/

# ======================
# Django
# ======================
*.sqlite3
db.sqlite3

# Media / Static (ถ้าใช้)
media/
staticfiles/

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# Logs
# ======================
*.log



